[submodule "mini-module"]
	path = mini-module
	url = git@github.com:mikonieminen/mini-module.git
	branch = master
[submodule "mini-promise"]
	path = mini-promise
	url = git@github.com:mikonieminen/mini-promise.git
	branch = master
[submodule "events"]
	path = events
	url = git@github.com:mikonieminen/mini-events.git
	branch = master
[submodule "mini-http"]
	path = mini-http
	url = git@github.com:mikonieminen/mini-http.git
	branch = master
